* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	overflow: hidden;
	
}

html {
	height: 100%;
	width: 100%;
	
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  clear: both;
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.homepage{
	position:relative;
	left: 35vw;
	top: 10vh;
	visibility: visible;
}
h1{
	position:relative;
	font-size: 60px;
	color: HoneyDew;
	left: 34vw;
	top: 10vh;
	visibility: visible;
}	
.background {

  position: relative;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

button.active{
	position: relative;
	top: -88.5vh;
	left: 79.5vw;
	visibility: hidden;
}
button.deaths{
	position: relative;
	top: -88.5vh;
	left: 80vw;
	visibility: hidden;
}

button.recovered{
	position: relative;
	top: -88.5vh;
	left: 80.5vw;
	visibility: hidden;
}

.countryName {
	
}

.graph-settings {
	position: relative;
	font-size: 14px;
	top: -87vh;
	left: 79.6vw;
	visibility: hidden;

}
.live-counter{
	position: relative;
	font-size: 20px;
	top: -86vh;
	left: 79.5vw;
	visibility: hidden;

}
.total-counter{
	position: relative;
	font-size: 16px;
	top: -85vh;
	left: 79.5vw;
	visibility: hidden;

}
.active-counter{
	position: relative;
	font-size: 16px;
	top: -81vh;
	left: 79.5vw;
	visibility: hidden;

}
.deaths-counter{
	position: relative;
	font-size: 16px;
	top: -77vh;
	left: 79.5vw;
	visibility: hidden;

}
.recovered-counter{
	position: relative;
	font-size: 16px;
	top: -73vh;
	left: 79.5vw;
	visibility: hidden;

}

.active-number{
	position: relative;
	font-size: 50px;
	top: -81vh;
	left: 79.5vw;
	visibility: hidden;
	
}
.deaths-number{
	position: relative;
	font-size: 50px;
	top: -77vh;
	left: 79.5vw;
	visibility: hidden;
	
}

.total-number{
	position: relative;
	font-size: 50px;
	top: -85vh;
	left: 79.5vw;
	visibility: hidden;

	
}
.recovered-number{
	position: relative;
	font-size: 50px;
	top: -73vh;
	left: 79.5vw;
	visibility: hidden;
	
}
input.transparent-input{
   background-color:transparent !important;
   color: "HoneyDew";
}