body {
  margin: 0;
  padding: 0;
  background-image: url("bg.jpg");
  background-size: cover;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

button.active{
	visibility: hidden;
}
button.deaths{
	visibility: hidden;
}

button.recovered{
	visibility: hidden;
}

.countryName {
	
}

input.transparent-input{
   background-color:transparent !important;
   color: "HoneyDew";
}